*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: sans-serif;
}



.overlay{
    background-color: #eab20888;
}

.QRoverlay{
    background-color: rgba(165, 0, 165, 0.534);

}

.radioActive .overlay{
    display: flex !important;
}


.radioActiveQR .QRoverlay{
    display: flex !important;

}

.error{
    width: calc(100% - 70px);
    
}



.snap-y::-webkit-scrollbar{
    display: none;
}

.snap-y{
    -ms-overflow-style: none; 
     scrollbar-width: none;
}

